<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.software.midi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".MusicRoomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicRoom">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MidiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.MetronomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RepetitionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SoundLabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EarGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChordGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RhythmGameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SongPracticeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TunerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.ComposeActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.LyricsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
